* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #9b5de0;
  --border-radius: 8px;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.cart {
  position: fixed;
  right: -400px;
  top: 5px;
  width: 400px;
  height: 100vh;
  background: var(--white);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1001;
  padding: 1rem;
  overflow-x: auto;
}
::-webkit-scrollbar {
  display: none;
}
.cart:target {
  right: 0;
}

.inner-container {
  padding: 0rem 2rem;
}
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}
.head h3 {
  font-size: 1.2rem;
  color: var(--primary-color);
}
.border {
  margin: 1px solid black;
  margin-bottom: 1rem;
}
.back {
  font-size: 1.2rem;
  color: var(--gray);
  text-decoration: none;
  cursor: pointer;
  transition: all 1.5s;
}
.restaurant-name p {
  color: var(--primary-color);
  font-size: 0.8rem;
}
.cart-container {
  height: 115px;
  padding: 1rem 0rem;
}
.item-name {
  font-size: 1rem;
}
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.count-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
}

.price {
  font-size: 1rem;
  color: #444242;
}

.less,
.count,
.add {
  padding: 0.1rem 0.7rem;
}

.less {
  font-size: 1rem;
  font-weight: 700;
}
.add {
  font-size: 1.2rem;
  font-weight: 700;
}
.count {
  font-size: 1rem;
  font-weight: 700;
}
.add:hover,
.less:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.border1 {
  margin: 1rem 0rem;
}
.border2 {
  margin-top: 2rem;
  border: 1.5px solid rgb(183, 180, 180);
}
.border3 {
  margin: 0.5rem 0rem;
}
.footer-container {
  margin-top: 1rem;
}
.subfooter-container {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0rem;
}

.checkout {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.checkout-btn {
  background: var(--primary-color);
  padding: 0.5rem 2.5rem;
  border-radius: var(--border-radius);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}
